#loginbtn {
    padding:  10px 17px 10px 17px;
    margin-top: 5px;
}

.modal-title{
	color:black;
}

#modal-header, #modal-footer{
	padding:20px;
}

#modal-body{
    padding: 20px 20px;
}

#loginId{
    padding: 10px 20px;
    margin-bottom: 10px;
}

#username, #password, #email, #mobile{
	width:100%;
	height:45px;
	font-size:17px;
	font-weight:300;
}

#main_sl li{
    margin-left: 10px;
}

.tagline{
	
    position:  absolute;
    bottom: 6em; 
    left: 1.5em; 
	font-size: 4.7em;
	letter-spacing: 3px;
    color:  white;
}

.textcolor{
    margin-left:  4.1em;
	color:orange;
}

.thumbnail{
    box-shadow: 5px 10px 35px #888888;
}

.logo{
    width: 90px;
    height: 90px;
}